body {
  background: lightgray;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0;
}

p {
  display: inline-block;
  margin-bottom: .5em;
  width: 60%;
  text-align: center;
}

.btn {
  background-color: rgb(230, 230, 222);
  color: rgb(83, 83, 83);
  margin: 1em;
}

.btn:hover {
  background-color: rgb(117, 117, 117);
  color: #fff;
}

.col {
  background-color: lightcyan;
  height: 100px;
  margin: 1%;
  width: 20% !important;
}

.container {
  border: 1px solid gray;
  width: 80%;
  display: inline-block;
  position: relative;
}

@media (max-width: 992px) {
  .col {
  width: 25% !important;
  margin: 1% 4%;
  }
}

@media (max-width: 600px) {
  .col {
  width: 40% !important;
  margin: 1% 2%;
  }
}